<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.ProductCategoryMapper">
  <resultMap id="productCategory" type="com.zy.entity.ProductCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="iconClass" jdbcType="VARCHAR" property="iconclass" />
  </resultMap>

  <select id="findByType" resultMap="productCategory" parameterType="java.lang.Integer">
    select * from easybuy_product_category where type = #{0}
  </select>

  <select id="findByParentid" resultMap="productCategory" parameterType="java.lang.Integer">
    select * from easybuy_product_category where parentid = #{0}
  </select>

</mapper>